@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    margin: 0;
    padding: 0;
    
    outline:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    
}

:root {
    --primary: #004E98;
    --primary-v: #3A6EA5;
    --bg: #8A8A8A;
    --bg-v: #b1b1b1;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
}