* {
    box-sizing: border-box;
}

#createPostContainer {
    margin-top: 80px;
    padding: 0px;
}

.createPostForm{
    text-align: center;
    min-width: 250px;
    width: 35%;
    height: 75%;
    border-color: var(--primary);
    margin: 80px auto 0px auto;
    color: #fff;
  }

#createPostRow {
    margin: auto;
    padding: 0px;
}

#createPostCol {
    margin: auto;
    padding: 1rem;
    max-width: 900px;
}

#createPostCard {
    margin-top: 1rem;
    padding: 10px;
    background-color: #292727;
}

body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: var(--bg);
    display: grid;
}

#createPostTitle, #createPostDescription {
    margin-top: 8px;
}

#description {
    border-top: 1px solid #15cdfc;
    border-bottom: 1px solid #15cdfc;
}

#titleForm {
    margin-top: 8px; 
}

#descriptionForm {
    border-top: 1px solid #15cdfc;
    border-bottom: 1px solid #15cdfc;
    margin-top: 8px;
    padding-bottom: 8px; 
}

#titleInput, #messageInput {
    padding: 5px; 
}

.postBtn {
    margin-top: 8px;
    border-radius: 50px;
    background: #15cdfc;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.postBtn:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
} 