.mainPage{
    text-align: center;
    width: 25%;
    height: 45%;
    border-color: var(--primary);
    margin: 90px auto 0px auto;
}

.formCard {
    margin-top: 10px;
    padding-top: 10px;
}

/* #form-contain{
    padding-top: 10px;
}

#file-upload {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.postBtn {
    margin-top: 10px;
    border-radius: 50px;
    background: #15cdfc;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.postBtn:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}