#commentBuildPost {
    margin-top: 1rem;
    padding: 10px;
    background-color: #292727;
}

#commentBuildInfo {
    padding-top: 10px;
    text-align: right;
    color: #fff;
}

#addCommentBtn {
    background-color: #15cdfc;
    margin: 1rem 0;
}

#commentText {
    padding: 3px 3px 5px 3px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #15cdfc;
}

#singleBuildEditComment {
    width: 100%;
}

#editCommentIcon, #deleteCommentIcon, #saveComment {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

#saveCommentBtn {
    background-color: transparent;
    border: none;
}

#editCommentIcon:hover, #deleteCommentIcon:hover, #saveComment:hover {
    color: #15cdfc;
}