* {
  box-sizing: border-box;
}

#signUpContainer {
  margin-top: 80px;
  padding: 0px;
}
  
#signUpRow {
  margin: auto;
  padding: 0px;
}

#signUpCol {
  margin: auto;
  padding: 1rem;
  max-width: 900px;
}

#signUpCard {
  margin-top: 1rem;
  padding: 10px;
  background-color: #292727;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: var(--bg);
  display: grid;
}

.signUpCard{
  text-align: center;
  min-width: 250px;
  width: 35%;
  height: 75%;
  border-color: var(--primary);
  margin: 80px auto 0px auto;
  color: #fff;
}
  
.formstyle {
  margin-top: 8px;
}

h3 {
  text-align: left;
}

#signUpBtn {
  border-radius: 50px;
  background: #15cdfc;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

#SignUpBtn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
  
  
  

  
 
  
  
  

  

  
  
 