#buildContainer {
    margin-top: 80px;
    padding: 0px;
}

#buildRow {
    margin: auto;
    padding: 0px;
}

#buildCol {
    margin: auto;
    padding: 1rem;
    max-width: 900px;
}

#addPost {
    margin-bottom: 1rem;
    text-align: center;
}

#postText {
    padding: 3px 3px 5px 3px;
    text-decoration: none;
    font-size: 20px; 
}

#buildPost {
    margin-top: 1rem;
    padding: 10px;
}

#postHeader {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

#postTitle {
    margin: 0px;
}

#buildContent {
    border-bottom: 1px solid black;
    margin: 0px;
}

#postInfo {
    padding-top: 3px;
    text-align: right;
}