.footer-contain {
    margin-top: auto;
}

.footer {
    background-color: black;
    padding: 7px 0px 0px 0px
}

.footer-row {
    min-height: 33px;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer-text h3 {
    font-size: 14px;
    color: white;
}

.footer-text a {
    color: #15cdfc;
    text-decoration: none;
}

#license-credit, #image-credit {
    color: white;
    margin: 0px;
}

.footer-text a:hover{
    color: white;
}

.github {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.github-header {
    margin-top: 0.5rem;
}