#discContainer {
    margin-top: 80px;
    padding: 0px;
}

#discRow {
    margin: auto;
    padding: 0px;
}

#discCol {
    margin: auto;
    padding: 1rem;
    max-width: 900px;
}

#discPostBtn {
    background-color: #15cdfc;
    margin-bottom: 1rem;
    text-align: center;
}

#discText {
    padding: 3px 3px 5px 3px;
    text-decoration: none;
    font-size: 20px; 
}

#discPost {
    margin-top: 1rem;
    padding: 10px;
    background-color: #292727;
}

#discHeader {
    padding-bottom: 10px;
    
}

#discTitle {
    margin: 0px;
    color: #fff;
}

#discContent {
    border-top: 1px solid #15cdfc;
    border-bottom: 1px solid #15cdfc;
    padding: 10px 0px;
    margin: 0px;
    color: #fff;
}

#discInfo {
    padding-top: 10px;
    text-align: right;
    color: #fff;
}