 
  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: var(--bg);
  }

 .loginCard{
    text-align: center;
    width: 35%;
    height: 75%;
    border-color: var(--primary);
    
  }
